
h1,h2,h3,h4,h5,h6 {
margin: 0;
color: #252525;
font-size: 18px;
font-weight: 600;
padding: 10px 0 10px;
font-family: STHeiti-Light,"Hiragino Sans GB","Microsoft Yahei",Arial;
}

p {
padding: 0;
line-height: 1.5em;
margin-bottom: 0.5em;
color: #262626;
font-size: 12px;
font-family: STHeiti-Light,"Hiragino Sans GB","Microsoft Yahei",Arial;
}

img {
  -webkit-box-shadow: 0px 4px 0px #bdb6ad;
  -moz-box-shadow: 0px 4px 0px #bdb6ad;
  box-shadow: 0px 4px 0px #bdb6ad;
  border: 4px solid #fff6e9;
  max-width: 556px;
}
